<%- include('common/header') %>
<div class="container">
    <h1>Page a propos</h1>
    <img src="/img/nil.jpg" width="750" height="500" alt="Description de l'image" />
</div>
<%- include('common/footer') %>
